<!DOCTYPE html>
<html lang="en">
<head>
    <title> Product Display </title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/items">Items</a>
    <a href="/about">About</a>
  <a href="/contact">Contact</a>
    </nav>
  {% include 'header.html' %}
    <h1> Product Display </h1>
    {% if products %}
      <ul>
        {% for product in products %}
          <li>Name: {{ product['name'] }}</li>
          <li>Price: {{ product['price'] }}</li>
          <li>Description: {{ product['description'] }}</li>
        {% endfor %}
      </ul>
    {% elif message %}
      <p>{{ message }}</p>
    {% else %}
        <p> Product not found. </p>
    {% endif %}
    {% include 'footer.html' %}
</body>
</html>
